<html>
<head>
    <title>Bad referrers page</title>
</head>
    <body>
        <h2>
            Bad referrers list:
        </h2>
        <ul>
            {% for  bad_domain in bad_domains %}
                <li>{{  bad_domain.name }}</li>
            {% endfor %}
        </ul>

        <form method="post">
            <input name="name" value="" placeholder="Enter name of referrer">
            <input type="submit">
        </form>
    </body>
</html>