<html>
<head>
    <title>Main page</title>
    <script>
        if('{{ bad_domain }}' == 'true'){
            setTimeout(function () {
                window.location.href = "https://google.com";
            }, 5000);
        }
    </script>
</head>
<body>
<h2>
    Error page.
</h2>
    Click id: {{ click_id }}<br><br>
    This click information has error(s).<br><br>
    Errors: {{ error }}<br><br>
    Bad domain: {{ bad_domain }}<br><br>

</body>
</html>