<html>
    <head>
        <title>Main page</title>
        <script src="{{ asset('js/jquery-latest.js') }}"></script>
        <script src="{{ asset('js/jquery.tablesorter.js') }}"></script>
        <script src="{{ asset('js/jquery.metadata.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>

    </head>
    <body>
        <h2>
            Main page. Clicks:
        </h2>
        <h3>Search:</h3>
        <input type = "text" id = "search" onkeyup = "search()" value = ""/><br><br>
        Click on column header to sort<br>
        <table id="myTable" class="tablesorter" border = "1">
            <thead>
            <tr>
                <th>ID</th>
                <th>ua</th>
                <th>ip</th>
                <th>ref</th>
                <th>param1</th>
                <th>param2</th>
                <th>error</th>
                <th>bad domain</th>
            </tr>
            </thead>
            <tbody>
            {% for  click in clicks %}
                <tr data-found = "1" class = "info-row">
                    <td class = "id">{{  click.id }}</td>
                    <td class = "ua">{{  click.ua }}</td>
                    <td class = "ip">{{  click.ip }}</td>
                    <td class = "ref">{{  click.ref }}</td>
                    <td class = "param1">{{  click.param1 }}</td>
                    <td class = "param2">{{  click.param2 }}</td>
                    <td class = "error">{{  click.error }}</td>
                    {% if click.badDomain == TRUE %}
                        <td class = "bad_domain">TRUE</td>
                    {% else %}
                        <td class = "bad_domain">FALSE</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>