<html>
    <head>
        <title>Main page</title>
    </head>
    <body>
        <h2>
            Success page.
        </h2>
        click_id: {{ click_id }}<br>
        user_agent: {{ user_agent }}<br>
        referrer: {{ referrer }}<br>
        ip: {{ ip }}<br>
        param1: {{ param1 }} <br>
        param2: {{ param2 }}<br>
    </body>
</html>